{% extends 'base_trabalhe_conosco.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<style>
  .container-cadastro {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.94) !important;
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.94) !important;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.94) !important;
    border-radius: 5px;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .container-fluid {
    padding-right: 5% !important;
    padding-left: 5% !important;
    border-radius: 5px;
    background: #f8f9fa;
  }

  .btn {
    margin-left: 1% !important;
    margin-right: 1% !important;
    padding: 27px !important;
    margin-bottom: 1% !important;
    border-radius: 0 3px 3px 0 !important;
  }

  .list {
    width: 100% !important;
  }
</style>
{% include 'trabalheConosco/partials/_headerCadastro.html' %}
<main class="container container-cadastro">
  <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
  <form action="" method="post">
    {% csrf_token %}
    <table>
      {{ wizard.management_form }}
      {% if wizard.form.forms %}
      {{ wizard.form.management_form }}
      {% for form in wizard.form.forms %}
      {{ form }}
      {% endfor %}
      {% else %}
      <div class="row">
        {% include 'trabalheConosco/padrao.html' with form=form %}
      </div>
      {% endif %}
    </table>
    <div class="row justify-content-md-end">
      {% if wizard.steps.prev %}
      <button name="wizard_goto_step" type="submit" class="btn btn-outline-secondary"
        value="{{ wizard.steps.first }}">{% trans "first step" %}</button>

      <button name="wizard_goto_step" type="submit" class="btn btn-outline-info" 
        value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
      {% endif %}

      <input type="submit" class="btn btn-outline-primary" value="{% trans "save" %}" />
    </div>
  </form>
</main>
{% include 'trabalheConosco/partials/_footer.html' %}
{% endblock %}