{% extends 'base_trabalhe_conosco.html' %}
{% load static %}
{% block content %}
  {% include 'trabalheConosco/partials/_header.html' %}
  <main>
  {% include 'trabalheConosco/partials/_slider.html' %}
  {% include 'trabalheConosco/partials/_services.html' %}
  {% include 'trabalheConosco/partials/_envio_curriculo.html' %}
  {% include 'trabalheConosco/partials/_jobs.html' %}
  {% include 'trabalheConosco/partials/_process.html' %}
  {% include 'trabalheConosco/partials/_testinomial.html' %}
  {% include 'trabalheConosco/partials/_suporte.html' %}
  </main>
  {% include 'trabalheConosco/partials/_footer.html' %}
{% endblock  %}
         