{% load static %}
{% block content %}
  <div class="online-cv cv-bg section-overly pt-90 pb-120"  data-background="{% static 'curriculo/assets/img/gallery/cv_bg.jpg' %} ">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="cv-caption text-center">
                            <p class="pera1">Pacotes de TOURS EM DESTAQUE</p>
                            <p class="pera2"> Faça a diferença com o seu currículo online!</p>
                            <a href="#" class="border-btn2 border-btn4">Envie seu CV</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}