{% load static %}
{% block content %}
 <div class="support-company-area support-padding fix">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="right-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2">
                                <span>O que estamos fazendo</span>
                                <h2>24 mil pessoas talentosas estão conseguindo empregos</h2>
                            </div>
                            <div class="support-caption">
                                <p class="pera-top">Ele deseja esvaziar no prazer da dor das almas de meu trabalho, cillum alivia uma dor au eu lorem Duis dsu é calmante para minha alma laborumuis au pain no prazer da qualidade que ele deseja a Cilli.</p>
                                <p>O prazer de sua alma que ele deseja esscillumlore acalma uma bola de futebol em questão de laborum.Duis, ele não desistiu de nrulla parihatur irufg dhjkolohr. Excghcepteur sIgnJ occa not inulpadeserunt cupidatat é calmante para abortar. afeminado e seus espíritos para que o trabalho de seus próprios labores, ele não temnthp incidbnt.</p>
                                <a href="about.html" class="btn post-btn">Anuncie um emprego</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="support-location-img">
                            <img src="{% static 'curriculo/assets/img/service/support-img.jpg' %}" alt="">
                            <div class="support-img-cap text-center">
                                <p>Desde a</p>
                                <span>2021</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}