{% load static %}
{% block content %}
<div class="testimonial-area testimonial-padding">
            <div class="container">
                <!-- Testimonial contents -->
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-8 col-lg-8 col-md-10">
                        <div class="h1-testimonial-active dot-style">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <!-- founder -->
                                    <div class="testimonial-founder  ">
                                        <div class="founder-img mb-30">
                                            <img src="{% static 'curriculo/assets/img/testmonial/testimonial-founder.png' %} " alt="">
                                            <span>Margaret Lawson</span>
                                            <p>Diretor criativo</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-top-cap">
                                        <p>“Eu estou em uma idade em que eu só quero estar em forma e saudável, nossos corpos são nossa responsabilidade! Portanto, comece a cuidar do seu corpo e ele cuidará de você. Comer limpo irá cuidar de você e exercitar-se duro.”</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <!-- founder -->
                                    <div class="testimonial-founder  ">
                                        <div class="founder-img mb-30">
                                            <img src="{% static 'curriculo/assets/img/testmonial/testimonial-founder.png' %}" alt="">
                                            <span>Margaret Lawson</span>
                                            <p>Diretor criativo</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-top-cap">
                                        <p>“Eu estou em uma idade em que eu só quero estar em forma e saudável, nossos corpos são nossa responsabilidade! Portanto, comece a cuidar do seu corpo e ele cuidará de você. Comer limpo irá cuidar de você e exercitar-se duro.”</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}